<html lang="en">
<head>
    <title> X Microsite / Feed "{{ post.title }}" </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/styles.min.css">


    <!--  fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Rasa:ital,wght@0,300..700;1,300..700&display=swap"
          rel="stylesheet">
    <!--  fonts -->

</head>
<body>
{% include "Partials/NavHeader.twig" with{greet: greet, menu: 'Feed'} %}

<main class="flex flex-col justify-center items-center mx-auto h-screen">
    <div class="flex flex-col justify-center items-center w-[720px]">

        <h2 class="font-merriWeather font-semibold text-2xl  underline underline-offset-10">{{ post.title }}</h2>

        <p class="font-rasa py-5 text-lg">
            {{ post.content|nl2br }}
        </p>

        <p class="font-libreBaskerville text-sm text-gray-500 italic my-5">by {{ post.author.fullName }}
            at {{ post.createdAt|ago }}</p>

        <div class="flex flex-row font-rasa gap-x-3 gap-y-3" id="actions">
            {% if not paginator.isContainsSearch %}
                {% if previousId is not null %}
                    <button id="action-previous"
                            class="flex flex-row items-center cursor-pointer bg-transparent border-none p-0 hover:opacity-80 transition-opacity duration-300">
                        <i data-lucide="arrow-left" width="25" height="25" class="opacity-70"></i>
                        <span class="hover:font-bold font-rasa text-md  hover:underline underline-offset-5">Previous Feed</span>
                    </button>
                    |
                {% endif %}
                <button id="action-back"
                        class="flex flex-row items-center cursor-pointer bg-transparent border-none p-0 hover:opacity-80 transition-opacity duration-300">
                    <i data-lucide="house" width="21" height="21" class="opacity-70"></i>
                    <span class=" hover:font-bold font-rasa text-md  hover:underline underline-offset-5 ml-2">Back to Feeds</span>
                </button>
                {% if nextId is not null %}
                    |
                    <button id="action-next"
                            class="flex flex-row items-center cursor-pointer bg-transparent border-none p-0 hover:opacity-80 transition-opacity duration-300">
                        <span class="hover:font-bold font-rasa text-md hover:underline underline-offset-5">Next Feed</span>
                        <i data-lucide="arrow-right" width="25" height="25" class="opacity-70"></i>
                    </button>
                {% endif %}
            {% else %}
                <button id="action-back-home"
                        class="flex flex-row items-center cursor-pointer bg-transparent border-none p-0 hover:opacity-80 transition-opacity duration-300">
                    <i data-lucide="house" width="21" height="21" class="opacity-70"></i>
                    <span class=" hover:font-bold font-rasa text-md  hover:underline underline-offset-5">Back to Feeds</span>
                </button>
            {% endif %}
        </div>
    </div>

</main>
{% include 'Partials/lucideCDN.js' %}
</body>
<script>
    {% include 'Partials/logoutActionBtn.js' %}

    const prevBtn = document.getElementById('action-previous');
    const nextBtn = document.getElementById('action-next');
    const backFeedsBtn = document.getElementById('action-back');
    const backToHomeBtn = document.getElementById('action-back-home');

    {% if previousId is not null %}
    prevBtn.addEventListener('click', () => {
        window.location.href = '/feeds/{{ previousId }}';
    })
    {% endif %}

    {% if nextId is not null %}
    nextBtn.addEventListener('click', () => {
        window.location.href = '/feeds/{{ nextId }}';
    })
    {% endif %}

    {% if previousId is null and nextId is null %}
    backToHomeBtn.addEventListener('click', () => {
        const queryParams = new URLSearchParams(window.location.search);
        window.location.href = '/feeds?' + queryParams.toString();
    })
    {% else %}
    backFeedsBtn.addEventListener('click', () => {
        const queryParams = new URLSearchParams(window.location.search);
        window.location.href = '/feeds?' + queryParams.toString();
    })
    {% endif %}
</script>
</html>
