<html lang="en">
<head>
    <title> X Microsite / Feeds Homepage </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/css/styles.min.css">


    <!--  fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Rasa:ital,wght@0,300..700;1,300..700&display=swap"
          rel="stylesheet">
    <!--  fonts -->

</head>
<body>
{% include "Partials/NavHeader.twig" with{greet: greet, menu: 'Feeds'} %}
<main class="flex flex-col flex-wrap justify-center items-center mx-auto h-auto w-full ">
    {% if posts is not empty %}
        <div class="grid grid-cols-1 gap-6 p-6 ">
            {% for post in posts %}
                <a href="/feeds/{{ post.id }}" class="block">
                    <div class="hover:cursor-pointer flex flex-col justify-center items-center w-full max-w-[720px] border border-gray-200 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 px-6 py-6 bg-white">

                        {# Post Title #}
                        <h2 class="font-merriWeather text-2xl font-bold text-gray-900 mt-5 text-center">
                            {{ post.title }}
                        </h2>

                        {# Post Content #}
                        <p class="font-rasa text-gray-700 py-5 text-center leading-relaxed">
                            {{ post.content|nl2br }}
                        </p>

                        {# Author and Date #}
                        <p class="text-sm text-gray-500 italic font-libreBaskerville">
                            by {{ post.author.fullName }} at {{ post.createdAt|ago }}
                        </p>

                        {# Upvote and Downvote Section (Commented Out) #}
                        {# <div id="posts-{{ post.id }}" class="mt-4">
                    <div class="flex flex-row font-merriWeather gap-x-3 gap-y-3">
                            <span class="font-rasa text-md mx-2">800 Up vote</span>
                           <span class="font-rasa text-md mx-2">20 Down vote</span>
                    </div>
                    </div> #}
                    </div>
                </a>

            {% endfor %}
        </div>
    {% else %}
        <div class="flex flex-col justify-center items-center w-full max-w-[720px] mx-auto h-screen">
            <h2 class="font-rasa text-2xl">No posts yet</h2>
        </div>

    {% endif %}

</main>
</body>
<script>
    {% include 'Partials/logoutActionBtn.js' %}
</script>
</html>
